.detail-cart{padding: 20; margin: 50px; margin-bottom: 100px; padding-bottom: 10px; box-shadow: 2px 0px 10px 0px black;}

@media screen and (max-width: 767px), (max-width: 1080px) {
  
    
    .detail-cart{padding: 20; margin: 50px; margin-bottom: 100px; padding-bottom: 10px; box-shadow: none;}
}