.cartWidget{ display: flex; flex-direction: row; width:60px ; height: 50px; text-decoration: none; margin-left: 400px; margin-bottom: 5px; } 

.contador{color: white; border-radius: 20px; margin-left: 10px; width: 30px; height: 30px; text-decoration: none; list-style: none;}