.card_productos{margin: 20px; box-shadow: 1px 1px 5px 0px black; width: 325px; height: 570px; margin-bottom: 50px;}

.card_productosImg{width: 300px; height: 400px; margin: 5px;}

.boton-detalle{background-color: #100720;  color: white; text-decoration: none; padding: 10px;}

.boton-detalle:hover{color: white; background-color: palevioletred;}


@media screen and (max-width: 767px), (max-width: 1080px) {

    .card_productos{margin: 10px; box-shadow: 1px 1px 5px 0px black; width: 150px; height: 280px; margin-bottom: 20px; font-size: 12px;}

    .card_productos h5{font-size: 15px;}
    .card_productos h3{font-size: 17px;}

    .card_productosImg{width: 140px; height: 150px; margin: 5px;}
    
   }
