.navbar{   position: relative;
   background:#100720;
   height: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;

}
.nav_logo{
   font-weight: bold;
   width: 250px; 
   height: 250px;
   margin-bottom: 20px;
   margin-right: 35%;
   color: white;
}

.nav_logo img{ width: 150px; 
   height: 150px;}

.nav_items{ display: flex;
   flex-direction: row; 
   justify-content: center;
   color: white;}



.nav_items Link{
   margin: 15px;
   color: white;
   position: relative;
   text-decoration: none;
}
.nav_toggle{
   display: none;
}

.boton_navbar{color: white; text-decoration: none; margin: 10px;}

.boton_navbar:hover{color: white; text-decoration: none; font-size: 18px;  transition-duration: 0.2s;}

.card-menuDespleglable{display: flex; flex-direction: column; width: 100px;}

.button-categories{text-decoration: none; color: rgb(205, 88, 107);}

@media (max-width: 768px), (max-width: 1080px) {

.dropdown{margin-left: 32%;}

   .card-menuDespleglable{position:relative;}

   .nav_logo img{ width: 90px; 
      height: 90px;}

   .nav_logo{
      font-weight: bold;
      width: 50px; 
      height: 50px;
      margin-bottom: 20px;
      margin-right: 25%;
      color: white;
   }
   
   .navbar{    position: relative;
      background:#100720;
      height: 220px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
   }

   .nav_items{
       position: absolute;
       top: 2px;
       left: 0;
       background: #100720;
       display: flex;
       flex-direction: column;
       width: 100%;
       height: -webkit-fill-available;        
       transform: translateX(-100%);
       transition: 0.3s ease all;
       overflow: hidden;
   }
   .nav_items.open{
       transform: translateX(0) !important
   }
   .nav_toggle{  margin-top: 150px;
       display: flex !important;
       flex-direction: column;                
       margin: 15px;
   }
   .nav_toggle span{
       width: 30px;
       height: 4px;
       background: white;
       margin-bottom: 5px;
       border-radius: 2px;             
       transform-origin: 5px 0px;
       transition: all 0.2s linear;
   }
   .nav_toggle.open > span{
       transform: rotate(45deg) translate(0px, 0px);
   }
   .nav_toggle.open > span:nth-child(2){
       display: none;
   }
   .nav_toggle.open > span:nth-child(3){
       transform: rotate(-45deg) translate(-5px, 1px);
   }
}