
footer{
    position: absolute;
   bottom: 0;
   width: 100%;
}
.card_footer{ background-color: black; padding-top: 20px; display: flex; flex-direction: row; justify-content: center;  font-size: 16px;   background-color: black; height: 180px;width: 100%; margin: 0%; position: relative; bottom: 0; }

.card_footerItem{background-color: black; padding-top: 20px; display: flex; flex-direction: row; justify-content: center;  font-size: 16px;   background-color: black; height: 180px;width: 100%; margin: 0%;}

ul li{list-style: none; color: white; }

ul li:hover{text-decoration: underline; color: white;}


.card_footericonos{display: flex; flex-direction: row; justify-content: center; margin-bottom: 20px; border-top: solid 2px; color: white;}

.card_footericonos img{width: 30px; height: 30px; margin: 10px;}

.card_footericonos img:hover{transition: 0.5s;width: 35px; height: 35px; }



@media screen and (max-width: 767px) {
    
 .footer{    position: absolute;
    bottom: 0;
    width: 100%;}

    .card_footer{ background-color: black; padding-top: 20px; display: flex; flex-direction: column; justify-content: center; font-size: 16px;   background-color: black; height: 180px;width: 100%; margin: 0%; position: relative; bottom: 0;align-items: center; }
}